@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'PP Right Serif Mono Dark';
  src: url('./fonts/PPRightSerifMono-Dark.woff2') format('woff2'),
    url('./fonts/PPRightSerifMono-Dark.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Right Serif Mono';
  src: url('./fonts/PPRightSerifMono-Regular.woff2') format('woff2'),
    url('./fonts/PPRightSerifMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Right Serif Mono';
  src: url('./fonts/PPRightSerifMono-Bold.woff2') format('woff2'),
    url('./fonts/PPRightSerifMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Right Serif Mono';
  src: url('./fonts/PPRightSerifMono-Light.woff2') format('woff2'),
    url('./fonts/PPRightSerifMono-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Right Serif Mono';
  src: url('./fonts/PPRightSerifMono-Black.woff2') format('woff2'),
    url('./fonts/PPRightSerifMono-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Right Serif Mono Fine';
  src: url('./fonts/PPRightSerifMono-Fine.woff2') format('woff2'),
    url('./fonts/PPRightSerifMono-Fine.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  height: 100%;
}
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  overflow: hidden;
  cursor: crosshair;
  color: #5b5b5b;
}

* {
  font-family: 'PP Right Serif Mono';
  caret-color: #39ff14;
  letter-spacing: 0.35px;
}

.main,
.prev,
.next,
.top,
.bottom,
.fullscreen {
  position: absolute;
  right: 50px;
  top: calc(50% - 42.5vh);
  transition: all 1s ease-in-out;
  max-height: 80vh;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-color: transparent;
  max-width: 1250px;
}

.prev {
  transform: rotate(15deg);
  top: -60%;
  transform-origin: bottom right;
}

.next {
  transform: rotate(-15deg);
  top: 80%;
  transform-origin: top right;
}

.vertical.next {
  top: 90%;
}

.vertical.prev {
  top: -80%;
}

.top {
  transform: rotate(30deg);
  top: -100%;
  transform-origin: bottom right;
}

.bottom {
  transform: rotate(-30deg);
  top: 140%;
  transform-origin: top right;
}

.fullscreen {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  object-fit: cover;

  z-index: 1;
}

.loading {
  opacity: 1;
  top: 0;
  z-index: 11;
}

.done-loading {
  opacity: 0;
  top: 0;
  transition: all 0.6s ease-in-out;
  z-index: -1;
}

.project {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  aspect-ratio: 3/2;
  height: auto;
}

.project:hover {
  transform: translateY(-10px);
}

.highlight::selection {
  background-color: #39ff14;
}

.light {
  font-weight: 300;
}

.hover-text:hover {
  font-weight: 500;
}

.link:hover {
  background-color: #39ff14;
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 15 100px;
  }
}

@media screen and (max-width: 850px) {
  * {
    font-size: 13px;
    line-height: 19px;
  }
  .mobile {
    display: block;
  }

  .hide {
    display: none;
  }

  .mobile-header {
    gap: 0;
    justify-content: space-between;
    width: 100%;
  }

  .header {
    flex-direction: column;
    gap: 25px;
  }

  .container {
    padding: 15px 15px;
    gap: 150px;
  }

  .project {
    min-width: 85vw;
  }

  .main,
  .prev,
  .next,
  .top,
  .bottom,
  .fullscreen {
    position: absolute;
    left: calc(50% - 40vw);
    bottom: 100px;
    top: auto;
    transition: all 1s ease-in-out;
    max-height: 80vh;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: transparent;
    max-width: 80vw;
  }

  .prev {
    transform: rotate(-15deg);
    transform-origin: bottom right;
    left: -70%;
  }

  .next {
    transform: rotate(15deg);
    left: 90%;
    transform-origin: bottom left;
  }

  .bottom {
    transform: rotate(30deg);
    left: 100%;
    transform-origin: bottom left;
  }

  .top {
    transform: rotate(-30deg);
    left: -140%;
    transform-origin: bottom right;
  }

  .vertical.next {
    top: auto;
  }

  .vertical.prev {
    top: auto;
  }
}
